<ion-header>
  <ion-navbar>
    <ion-title>
      Share
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let p of friends">
    <ion-card-header>
      <button ion-button outline block
        (click)="sendItemToFriend(p)">
        {{p.name}}
      </button>
    </ion-card-header>
    <ion-card-content>
        <ion-card>
          <ion-card-header>Total</ion-card-header>
          <ion-card-content>
            ${{total(p)}}
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let i of p.items">
          <ion-card-header>
            {{i.name}}
          </ion-card-header>
          <ion-card-content>
            <ion-badge item-right color="danger">
              ${{(i.price * i.quantity) - (i.price * i.quantity * i.qty_s / 100)}}
            </ion-badge>
            <ion-badge item-right color="danger">
              #{{i.quantity - (i.quantity * i.qty_s / 100)}}
            </ion-badge>
            <ion-range 
              [(ngModel)]="i.qty_s">
              <ion-label range-left>0</ion-label>
              <ion-label range-right>{{i.quantity}}</ion-label>
            </ion-range>

          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let i of items">
    <ion-card-header>
      {{i.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-badge item-right>
        ${{i.price * i.quantity * i.qty_s / 100}}
      </ion-badge>
      <ion-badge item-right>
        #{{i.quantity * i.qty_s / 100}}
      </ion-badge>
      <ion-range 
        [(ngModel)]="i.qty_s">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>{{i.quantity}}</ion-label>
      </ion-range>

    </ion-card-content>
  </ion-card>
</ion-content>
