<ion-header>
  <ion-navbar>
    <ion-title>
      Share
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let p of appState.friends">
    <ion-card-header>
      <button ion-button outline block
        (click)="sendItemToFriend(p)">
        {{p.name}}
      </button>
    </ion-card-header>
    <ion-card-content>
        <ion-card>
          <ion-card-header>Total</ion-card-header>
          <ion-card-content>
            ${{p.total()}}
          </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let i of p.items">
          <ion-card-header>
            {{i.name}}
          </ion-card-header>
          <ion-card-content>
            <ion-badge item-right color="danger">
              ${{i.priceRemSh().toFixed(2)}}
            </ion-badge>
            <ion-badge item-right color="danger">
              #{{round(i.quantityRemSh())}}
            </ion-badge>
            <ion-badge item-right color="danger">
              %{{round(i.quantity_set)}}
            </ion-badge>
            <ion-range 
              [(ngModel)]="i.quantity_set">
              <ion-label range-left>
                0
              </ion-label>
              <ion-label range-right>{{i.quantity}}</ion-label>
            </ion-range>
            <button ion-button 
              (click)="i.decrease_set()">
              -
            </button>
            <button ion-button 
              (click)="i.increase_set()">
              +
            </button>
          </ion-card-content>
        </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let i of appState.unassigned">
    <ion-card-header>
      {{i.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-badge item-right>
        ${{i.priceSh().toFixed(2)}}
      </ion-badge>
      <ion-badge item-right>
        #{{round(i.quantitySh())}}
      </ion-badge>
      <ion-badge item-right>
        %{{round(i.quantity_set)}}
      </ion-badge>
      <ion-range 
        [(ngModel)]="i.quantity_set">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>{{i.quantity}}</ion-label>
      </ion-range>
      <button ion-button (click)="i.decrease_set()">
        -
      </button>
      <button ion-button (click)="i.increase_set()">
        +
      </button>

      <button ion-button outline block (click)="splitEqually(i)">
        Split equally
      </button>
    </ion-card-content>
  </ion-card>

  <button ion-button block 
    color="secondary"
    (click)="goToPaymentPage()">
    Pay your Tab
  </button>
</ion-content>
