<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to TabSplit</h2>
  <p> 
    This app makes spliting a tab with your friends very easy.
  </p>
  <!--
  <button ion-button outline block (click)="loadItems()">Load Items from QRCode</button>
  -->
  <button ion-button color="danger" outline block (click)="clearItems()">Clear everything and Start Over</button>

  <ion-card>
    <ion-card-header>
      <h2> 
        Add friends:
      </h2>

      <ion-list>
        <ion-item>
          <ion-input type="text" 
            [(ngModel)]="name" 
            placeholder="Name"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button outline block
        (click)="addFriend()">Add Friend</button>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-badge>{{appState.friends.length}}</ion-badge> Friends 
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let f of appState.friends">
          {{f.name}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    <p> 
      Add items:
    </p>

    <ion-list>
      <ion-item>
        <ion-input type="text" 
          [(ngModel)]="iname" 
          placeholder="Name"></ion-input>
        <ion-input type="number" 
          [(ngModel)]="iprice" 
          placeholder="Price"></ion-input>
        <ion-input type="number" 
          [(ngModel)]="iqty" 
          placeholder="Quantity"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button outline block 
      (click)="addItem()">Add Item</button>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-badge>{{appState.unassigned.length}}</ion-badge> Items
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let i of appState.unassigned">
          <button ion-button (click)="i.decrease()">
            -
          </button>
          {{i.name}}
          <ion-badge item-right>
            ${{i.price}}
          </ion-badge>
          <ion-badge item-right>
            #{{i.quantity}}
          </ion-badge>
          <button ion-button 
            item-right (click)="i.increase()">
            +
          </button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        Tip
        <ion-badge item-right>
          {{tip}}%
        </ion-badge>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-range max="25"
        [(ngModel)]="tip">
        <ion-label range-left>0%</ion-label>
        <ion-label range-right>25%</ion-label>
      </ion-range>
      <button ion-button 
        (click)="tip = 10">10%
      </button>
      <button ion-button 
        (click)="tip = 12">12%
      </button>
      <button ion-button 
        (click)="tip = 15">15%
      </button>
    </ion-card-content>
  </ion-card>

  <button ion-button block 
          color="secondary"
          (click)="goToSharePage()">
    Start Sharing</button>
</ion-content>
