<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to TabSplit</h2>
  <p> 
    This app makes spliting a tab with your friends very easy.
  </p>
  <button ion-button outline block (click)="loadItems()">Load Items from QRCode</button>
  <button ion-button color="danger" outline block (click)="clearItems()">Clear everything and Start Over</button>

  <p> 
    Add friends manually:
  </p>

  <ion-list>
    <ion-item>
      <ion-input type="text" 
        [(ngModel)]="name" 
        placeholder="Name"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button outline block
    (click)="addFriend()">Add Friend</button>

  <p> 
    Add items manually:
  </p>

  <ion-list>
    <ion-item>
      <ion-input type="text" 
        [(ngModel)]="iname" 
        placeholder="Name"></ion-input>
      <ion-input type="number" 
        [(ngModel)]="iprice" 
        placeholder="Price"></ion-input>
      <ion-input type="number" 
        [(ngModel)]="iqty" 
        placeholder="Quantity"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button outline block 
    (click)="addItem()">Add Item</button>

    <ion-item>
      <ion-badge>{{friends.length}}</ion-badge> Friends 
    </ion-item>
    <ion-item>
      <ion-badge>{{items.length}}</ion-badge> Items
    </ion-item>

    <h2> Friends: </h2>
  <ion-list>
    <ion-item *ngFor="let f of friends">
      {{f}}
    </ion-item>
  </ion-list>
    <h2> Items: </h2>
  <ion-list>
    <ion-item *ngFor="let i of items">
      {{i.name}}
      <ion-badge item-right>
        ${{i.price}}
      </ion-badge>
      <ion-badge item-right>
        #{{i.quantity}}
      </ion-badge>
    </ion-item>
  </ion-list>
  <button ion-button outline block 
    (click)="goToSharePage()">Start Sharing</button>
</ion-content>
